<div class="row">
    <div class="col-12">
        <h1 mat-dialog-title> ¿Desea marcar como favorito a:
            <div class="text text-primary">{{data.name}}</div>
            <mat-icon color="warn">favorites</mat-icon>?
        </h1>

    </div>


</div>
<div mat-dialog-content>
    <p>Observación</p>
    <mat-form-field appearance="fill">
        <mat-label>Escriba aqui...</mat-label>
        <input matInput [(ngModel)]="data.observacion">
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cerrar</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>
